body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
select{
    width: 10rem;
}
button{
    width: 100px;
    height: 25px;
    background-color: tomato;
    border: none;
}